<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/techjobs.css}"/>
    <script th:src="@{/js/bootstrap.js}" type="text/javascript"></script>

    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="page-header">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">TechJobs</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/list}">List</a></li>
                <li><a th:href="@{/search}">Search</a></li>
                <li><a th:href="@{/add}">Add Jobs</a></li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>